
body{
    margin:0;
    padding:0; 
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background: rgb(202, 150, 209);
}
.box div{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(151, 103, 170);
}
.box div:nth-child(1){
    top:0%;
    left: 5%;
    animation: animate 7s linear infinite;

}
.box div:nth-child(2){
    top:0%;
    left: 80%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(3){
    top:0%;
    left: 70%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top:68%;
    left: 90%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(5){
    top:90%;
    left: 30%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(6){
    top:4%;
    left: 79%;
    animation: animate 2s linear infinite;
}
.box div:nth-child(7){
    top:89%;
    left: 45%;
    animation: animate 3s linear infinite;
}
.box div:nth-child(8){
    top:10%;
    left: 90%;
    animation: animate 8s linear infinite;
}
.box div:nth-child(9){
    top:12%;
    left: 8%;
    animation: animate 4s linear infinite;
}
.box div:nth-child(10){
    top:0%;
    left: 80%;
    animation: animate 8s linear infinite;
}


@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity:1;
    }
    100%{
        transform: scale(1.5) translateY(-100px) rotate(360deg);
        opacity:0;
    }
}

